[submodule "HumanCoder/fase1/01_libft"]
	path = HumanCoder/fase1/01_libft
	url = https://github.com/iW90/libft.git
[submodule "HumanCoder/fase1/02_get_next_line"]
	path = HumanCoder/fase1/02_get_next_line
	url = https://github.com/iW90/get_next_line.git
[submodule "HumanCoder/fase1/03_ft_printf"]
	path = HumanCoder/fase1/03_ft_printf
	url = https://github.com/iW90/ft_printf.git
[submodule "HumanCoder/fase1/04_Born2beroot"]
	path = HumanCoder/fase1/04_Born2beroot
	url = https://github.com/iW90/Born2beroot.git
[submodule "HumanCoder/fase1/05_FdF"]
	path = HumanCoder/fase1/05_FdF
	url = https://github.com/iW90/FdF.git
[submodule "HumanCoder/fase1/06_minitalk"]
	path = HumanCoder/fase1/06_minitalk
	url = https://github.com/iW90/minitalk.git
[submodule "HumanCoder/fase2/07_push_swap"]
	path = HumanCoder/fase2/07_push_swap
	url = https://github.com/iW90/push_swap.git
[submodule "HumanCoder/fase2/08_minishell"]
	path = HumanCoder/fase2/08_minishell
	url = https://github.com/iW90/minishell.git
