[submodule "HumanCoder/FdF"]
	path = HumanCoder/FdF
	url = git@github.com:iW90/42SP_FdF.git
[submodule "HumanCoder/ft_printf"]
	path = HumanCoder/ft_printf
	url = git@github.com:iW90/42SP-ft_printf.git
[submodule "HumanCoder/Born2beroot"]
	path = HumanCoder/Born2beroot
	url = git@github.com:iW90/Born2beroot.git
[submodule "HumanCoder/libft"]
	path = HumanCoder/libft
	url = git@github.com:iW90/libft.git
[submodule "HumanCoder/get_next_line"]
	path = HumanCoder/get_next_line
	url = git@github.com:iW90/get_next_line.git
[submodule "HumanCoder/minitalk"]
	path = HumanCoder/minitalk
	url = git@github.com:iW90/minitalk.git
[submodule "HumanCoder/push_swap"]
	path = HumanCoder/push_swap
	url = https://github.com/iW90/push_swap.git
